body {
  margin: 0 auto;
  padding: 0;
  max-width: 1199px;
  box-sizing: border-box;
  font-family: "Poppins", "Saira", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--corPreta);
}

::-webkit-scrollbar-thumb {
  background-color: var(--corDestaque);
}

:root {
  --corDestaque: #60bfbf;
  --corDestaqueClaro: #89d9d9;
  --corBranca: #f2f2f2;
  --corCinza: #595959;
  --corPreta: #0d0d0d;
}

/* Navbar */

.head {
  display: flex;
  justify-content: space-around;
  height: 150px;
  background-color: var(--corDestaqueClaro);
  font-family: "Saira", sans-serif;
}

.head_logo {
  display: flex;
  cursor: pointer;
}

.head_nav {
  display: flex;
  align-items: center;
}

.head_ul {
  flex-grow: 1;
  display: flex;
}

.head_li {
  list-style: none;
  margin-inline: 10px;
}

.head_a {
  text-decoration: none;
  color: var(--corPreta);
  transition: 300ms linear;
}

.head_a:hover {
  text-decoration: none;
  color: var(--corBranca);
  transition: 300ms linear;
}

.head_a--active {
  color: var(--corBranca);
}

/* Home Index */

.home {
  background-color: var(--corBranca);
  padding-block: 4%;
}

.home_h {
  color: var(--corPreta);
  padding: 0 5%;
  margin: 0px;
  line-height: 40px;
}

.home_p {
  color: var(--corCinza);
  padding: 0 5%;
  text-align: justify;
  text-indent: 15px;
}

.home_pitch {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* cards */

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
  justify-items: center;
}

.cardsContainer_title {
  text-align: center;
  width: 100%;
  height: 40px;
  color: var(--corDestaque);
}

.card {
  display: flex;
  margin: 20px 0;
  height: 250px;
  width: 280px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card_front {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--corDestaque);
  color: var(--corPreta);
  justify-content: center;
  align-items: center;
  padding-inline: 4%;
  font-size: 1.5rem;
  font-family: "Saira", sans-serif;
  border-radius: 15px;
  transition: transform 0.6s;
}

.card_back {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--corDestaque);
  color: var(--corBranca);
  align-items: center;
  text-align: center;
  padding-inline: 10%;
  font-family: "Saira", sans-serif;
  border-radius: 15px;
  font-size: 1.25rem;
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.card:hover .card_front {
  transform: rotateY(180deg);
}

.card:hover .card_back {
  transform: rotateY(0deg);
}

/* Formulário */

.contato {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: 4%;
  text-align: center;
  font-family: "Saira", sans-serif;
  border: 2px solid var(--corDestaqueClaro);
  border-radius: 15px;
}

.contato_title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.contato_formsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  outline: 0;
}

.contato_img {
  margin-block: 5%;
  border-radius: 20px;
}

.contato_form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contato_label {
  display: block;
  margin-bottom: 10px;
}

.contato_textarea {
  padding: 10px;
  border-top: none;
  border-inline: none;
  background-color: var(--corDestaque);
  outline: 0;
  border-radius: 7px;
  transition: 300ms linear;
}

.contato_textarea:hover {
  background-color: var(--corBranca);
  border-radius: 7px;
  outline: 0;
  transition: 300ms linear;
}

.contato_input {
  padding: 10px;
  border-top: none;
  border-inline: none;
  background-color: var(--corDestaque);
  outline: 0;
  transition: 500ms linear;
  border-radius: 7px;
}

.contato_input:hover {
  background-color: var(--corBranca);
  border-radius: 7px;
  outline: 0;
  transition: 500ms linear;
}

/* Rodapé */

.footer {
  background-color: var(--corDestaqueClaro);
  padding: 20px;
}

.footer_parceiros {
  text-align: center;
  margin-bottom: 2%;
  font-size: 2.5rem;
  font-family: "Saira", sans-serif;
}

.footer_carrossel {
  display: flex;
  overflow: hidden;
}

.footer_slide {
  display: flex;
  flex: 0 0 20%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.footer_img {
  width: 60%;
  height: auto;
  transition: transform 0.3s;
}

.footer_img:hover {
  transform: scale(1.1);
}

.quiz {
  text-align: center;
  width: 100%;
  margin-top: 35px;
}

.buttom {
  background-color: var(--corDestaque);
  border: solid 1px var(--corDestaque);
  border-radius: 15px;
  padding: 2%;
  text-align: center;
  margin-top: 15px;
  transition: 200ms linear;
}

.buttom:hover {
  background-color: transparent;
  border: solid 1px var(--corDestaque);
  border-radius: 15px;
  padding: 2%;
  text-align: center;
  margin-top: 15px;
  transition: 200ms linear;
  cursor: pointer;
}

/* Grafico */

.chart {
  width: 400px;
  margin: 20px auto;
}

.bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bar-label {
  width: 200px;
  text-align: right;
  margin-right: 10px;
}

.bar-data {
  width: 200px;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.bar-segment {
  height: 100%;
  transition: width 0.5s;
  position: relative;
}

.bar-percentage {
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: black;
}

.bar-segment-hunger {
  background-color: red;
}

.bar-segment-malnutrition {
  background-color: orange;
}

.bar:hover .bar-percentage {
  opacity: 1;
}

.bar:hover .bar-label {
  font-weight: bold;
}

.graficos{
  display: flex;
}

.grafico{
  text-align: center;
  font-size: 0.7rem;
}