* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Saira", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c31;
}

::-webkit-scrollbar-thumb {
  background-color: #89d9d9;
}

:root {
  --corDestaque: #60bfbf;
  --corDestaqueClaro: #89d9d9;
  --corBranca: #f2f2f2;
  --corCinza: #595959;
  --corPreta: #0d0d0d;
}

/* Rodapé */

footer {
  background-color: #89d9d9;
  padding: 20px;
}

.carrossel {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 20%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  border-radius: 0%;
  width: 60%;
  height: auto;
  transition: transform 0.3s;
}

.slide img:hover {
  transform: scale(1.1);
}

#parceiros {
  text-align: center;
  margin-bottom: 2%;
  font-size: 130%;
  font-family: "Saira", sans-serif;
}
/* Navbar */

.head {
  display: flex;
  justify-content: space-between;
  height: 150px;
  background-color: var(--corDestaqueClaro);
  font-family: "Saira", sans-serif;
  justify-items: center;
}

.head_logo {
  width: 280px;
  height: 180px;
  cursor: pointer;
}

.head_ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  /* height: 45px;  */
}
.head_li {
  align-self: center;
}

header li {
  margin: 0 15px;
  text-decoration: none;
  list-style-type: none;
  margin-top: 60px;

}

ul li a {
  text-decoration: none;
  color: black;
  transition: 300ms linear;

}

ul li a:hover {
  text-decoration: none;
  color: white;
  transition: 300ms linear;

}

/* Home Index */

.home {
  background-color: var(--corBranca);
}

.home_h{
  color: var(--corDestaque);
  padding: 5%;
}

.home_p{
  color: var(--corCinza);
  padding: 0 5%;
  text-align: justify;
}

/* cards */

.cardsContainer {
  height: 300px;
  padding-inline: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-items: center;
}

.cardsContainer_title{
  text-align: center;
  width: 80%;
  height: 40px;
  color: var(--corDestaque);
}

.card {
  margin: 20px 0;
  height: 280px;
  width: 250px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  perspective: 1000px;
}

.card_front, .card_back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.card_front{
  background-color: var(--corDestaqueClaro);
  color: var(--corCinza);
}

.card_back {
  background-color: var(--corDestaque);
  color: var(--corPreta);
}

.card:hover .card_front{
  transform: rotateY(180deg);
}

.card:hover .card_back{
  transform: rotateY(0deg);
}

/* Formulário */

#contato{
  margin-top: 5%;
  text-align: center;
  font-size: 130%;
  font-family: "Saira", sans-serif;
  background-color: #60bfbf;
  outline: 0;
}


.forms {
  display: flex;
  align-items: center;
  background-color: #60bfbf;
  outline: 0;
}

.forms img {
  margin-bottom: 5%;
  margin-top: 5%;
  margin-right: 10%;
  border-radius: 5%;
  width: auto;
  height: auto;
  border-left: 2%;
}

form {
  margin-bottom: 5%;
  margin-top: 5%;
  width: 400px;
  margin-right: 13%;
  padding: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

.forms textarea{
  width: 90%;
  padding: 10px;
  border-top: none;
  border-inline: none;
  background-color: #60bfbf;
  outline: 0;
  border-radius: 7px;
  transition: 300ms linear;


}

.forms textarea:hover{
  background-color: #f2f2f2;
  border-radius: 7px;
  outline: 0;
  transition: 300ms linear;
}

form input[type="text"],
form input[type="email"],
form input[type="submit"] {
  width: 90%;
  padding: 10px;
  border-top: none;
  border-inline: none;
  background-color: #60bfbf;
  outline: 0;
  transition: 500ms linear;
  border-radius: 7px;
}

form input[type="text"]:hover,
form input[type="email"]:hover,
form input[type="submit"]:hover {
  background-color: #f2f2f2;
  border-radius: 7px;
  outline: 0;
  transition: 500ms linear;
}

form input[type="submit"] {
  background-color: #89d9d9;
  border: solid #f2f2f2 1px;
  border-radius: 15px;
  transition: 300ms linear;

}

form input[type="submit"]:hover {
  background-color: #f2f2f2;
  border: solid #89d9d9 1px;
  border-radius: 15px;
  transition: 300ms linear;
  cursor: pointer;
}

form .right-align {
  text-align: right;
}

form .right-align label {
  margin-right: 10px;
}

form .right-align input[type="text"],
form .right-align input[type="email"],
form .right-align input[type="submit"] {
  text-align: right;
}
